{{ define "main" }}
<main aria-role="main" class="main single">
  <header>
    <h1 class="title">{{ .Title }}</h1>
    <div class="meta">
      <div class="meta-group">
        <div class="meta-item date">{{ .Date.Format "Jan 2, 2006" }}</div>
        <div class="meta-item read-time">{{ math.Round (div (countwords .Content) 220.0) }} minutes</div>
      </div>
      <div class="meta-group">
        {{ range .Params.tags }}
        <div class="meta-item"><a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ lower . }}</a></div>
        {{ end }}
      </div>
    </div>
    <hr>
  </header>
  <article class="content">
    {{ .Content }}
  </article>
  <div class="author">
    <img src="{{ .Site.BaseURL }}images/main/me.jpg" />
    <div class="description">
      Robin is the co-founder of <a href="https://interviewplanner.com" rel="noopener noreferrer" target="_blank">InterviewPlanner</a> and the co-creater of <a href="https://pokedextracker.com" rel="noopener noreferrer" target="_blank">PokédexTracker</a>. To stay up-to-date on new posts, follow him on <a href="https://twitter.com/robinjoseph08" rel="noopener noreferrer" target="_blank">Twitter</a>.
    </div>
  </div>
  <div class="post-nav">
    <div class="post-nav-item previous">
      {{ with .Prev }}
      <a href="{{ .Permalink }}">
        {{ partial "fontawesome.html" "chevron-left" }}
        <div class="wrapper">
          <span><b>previous post</b></span>
          <span>{{ .Title }}</span>
        </div>
      </a>
      {{ end }}
    </div>
    <div class="post-nav-item next">
      {{ with .Next }}
      <a href="{{ .Permalink }}">
        <div class="wrapper">
          <span><b>next post</b></span>
          <span>{{ .Title }}</span>
        </div>
        {{ partial "fontawesome.html" "chevron-right" }}
      </a>
      {{ end }}
    </div>
  </div>
</main>
{{ end }}
