<footer>
  <div class="container">
    <a href="https://www.linkedin.com/in/robin-joseph-0207065b" rel="noopener noreferrer" target="_blank">
      {{ partial "fontawesome.html" "linkedin" }}
    </a>
    <span class="middot">·</span>
    <a href="https://github.com/robinjoseph08" rel="noopener noreferrer" target="_blank">
      {{ partial "fontawesome.html" "github-square" }}
    </a>
    <span class="middot">·</span>
    <a href="https://twitter.com/robinjoseph08" rel="noopener noreferrer" target="_blank">
      {{ partial "fontawesome.html" "twitter-square" }}
    </a>
  </div>
</footer>
